@keyframes field-appearance {
  from {
    width: 0;
  }

  to {
    width: calc(100% - 21rem);
  }
}

@keyframes fade-top {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  from {
    transform: translateX(15px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rules-number-appearance {
  from {
    font-size: 0;
  }

  80% {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

@keyframes rules-link-appearance {
  from {
    width: 10%;
  }

  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes rules-link-text {
  to {
    color: $c-dark;
    opacity: 1;
  }
}
